Repository cnolimit/vown, changes with the labels that .github/labeler.yml gives for each.
All labels: vown-auth 🔑, vown-firebase 🔥, vown-reviews 📝, vown-types 🖋, vown-web-app 🌎, vown-components 🎨, vown-scripts 📜

updated lock file
  yarn.lock
Labels: none

Revert "updated packages"
  packages/vown-web-app/package.json
Labels: vown-web-app 🌎

updated versions
  packages/vown-web-app/package.json
Labels: vown-web-app 🌎

update nvm
  packages/vown-firebase/functions/.nvmrc
Labels: vown-firebase 🔥

update engine
  packages/vown-firebase/functions/package.json
Labels: vown-firebase 🔥

updated sentry and data
  internals/danger/rules/tests/no-console-logs.test.js
  packages/vown-web-app/next.config.js
  packages/vown-web-app/pages/_app.tsx
  packages/vown-web-app/pages/dashboard/index.tsx
  packages/vown-web-app/pages/login.tsx
Labels: vown-web-app 🌎

used git sha as release
  packages/vown-web-app/next.config.js
  packages/vown-web-app/pages/_app.tsx
Labels: vown-web-app 🌎

updated url prefix
  packages/vown-web-app/next.config.js
Labels: vown-web-app 🌎

adjusted node version
  .github/workflows/commit.yml
  packages/vown-firebase/functions/package.json
Labels: vown-firebase 🔥

updated nvm node version
  packages/vown-firebase/functions/.nvmrc
Labels: vown-firebase 🔥

updated firebase node version
  .github/workflows/commit.yml
  .github/workflows/pull_request.yml
Labels: none

added engine
  packages/vown-firebase/functions/package.json
Labels: vown-firebase 🔥

updated lock file
  package.json
  yarn.lock
Labels: none

removed log and error
  packages/vown-web-app/next.config.js
  packages/vown-web-app/pages/login.tsx
Labels: vown-web-app 🌎

upgraded packages
  packages/vown-web-app/components/layouts/dashboard-layout.tsx
  packages/vown-web-app/package.json
  yarn.lock
Labels: vown-web-app 🌎

fixed issue and updated version
  packages/vown-web-app/components/layouts/dashboard-layout.tsx
  packages/vown-web-app/package.json
  yarn.lock
Labels: vown-web-app 🌎

added docker image
  .dockerignore
  .eslintrc
  .gitignore
  Dockerfile
  Jenkinsfile
  Makefile
  docker-compose.yml
  package.json
  packages/vown-firebase/functions/v1/errors/create-errors.ts
  packages/vown-web-app/.gitignore
  packages/vown-web-app/firebase.json
  packages/vown-web-app/next.config.js
  packages/vown-web-app/package.json
  packages/vown-web-app/utils/constants.ts
Labels: vown-firebase 🔥, vown-web-app 🌎

upgraded @candulabs/react-sdk package
  packages/vown-web-app/package.json
  yarn.lock
Labels: vown-web-app 🌎

.github/labeler.yml:

vown-auth 🔑:
  - packages/vown-auth/**/*
vown-firebase 🔥:
  - packages/vown-firebase/**/*
vown-reviews 📝:
  - packages/vown-reviews/**/*
vown-types 🖋:
  - packages/vown-types/**/*
vown-web-app 🌎:
  - packages/vown-web-app/**/*
vown-components 🎨:
  - packages/vown-components/**/*
vown-scripts 📜:
  - packages/vown-scripts/**/*
