Repository cnolimit/vown, changes with the labels that .github/labeler.yml gives for each.
All labels: vown-auth 🔑, vown-functions 🔥, vown-reviews 📝, vown-types 🖋, vown-web-app 🌎

.github/labeler.yml:

vown-auth 🔑:
- packages/vown-android/**/*
vown-functions 🔥:
- packages/vown-functions/**/*
vown-reviews 📝:
- packages/vown-reviews/**/*
vown-types 🖋:
- packages/vown-types/**/*
vown-web-app 🌎:
- packages/vown-web-app/**/*

downgraded the node version
  .github/workflows/commit.yml
Labels: none

fixed build issue with firebase types
  packages/vown-auth/src/index.ts
  packages/vown-auth/tsconfig.json
Labels: none

updated the types and the API use in the other packages
  package.json
  packages/vown-auth/package.json
  packages/vown-functions/functions/package.json
  packages/vown-reviews/src/index.ts
  packages/vown-reviews/tsconfig.json
  packages/vown-types/package.json
  packages/vown-web-app/src/components/reviews/reviews-form.tsx
  packages/vown-web-app/src/components/reviews/reviews-list.tsx
  tsconfig.json
  yarn.lock
Labels: vown-functions 🔥, vown-reviews 📝, vown-types 🖋, vown-web-app 🌎

removed babel
  yarn.lock
Labels: none

updated the order of the workflows
  .github/workflows/commit.yml
Labels: none

updated both jobs command order
  .github/workflows/commit.yml
Labels: none

fixed build and test issues
  packages/vown-auth/package.json
  packages/vown-auth/tsconfig.json
  packages/vown-functions/functions/tsconfig.json
  tsconfig.json
Labels: vown-functions 🔥

removed specific isolated type
  packages/vown-functions/functions/tsconfig.json
Labels: vown-functions 🔥

added the install command for functions package
  .github/workflows/commit.yml
  scripts/clean.sh
Labels: none

switched functions to use npm instead of yarn
  .github/workflows/commit.yml
Labels: none

updated install comand
  .github/workflows/commit.yml
Labels: none

sepearated firbase jobs
  .github/workflows/commit.yml
Labels: none

updated the name of the firbase job
  .github/workflows/commit.yml
Labels: none

switch to npm instead of yarn
  .github/workflows/commit.yml
Labels: none

moved build and tests for functions into same job
  .github/workflows/commit.yml
Labels: none

updated Action names
  .github/workflows/commit.yml
  .github/workflows/pr_labeler.yml
Labels: none

updated icons
  .github/workflows/commit.yml
Labels: none

added danger js
  .github/workflows/pull_request.yml
Labels: none

added github token to the the env for danger
  .github/workflows/pull_request.yml
Labels: none

added checkout before executing danger
  .github/workflows/pull_request.yml
Labels: none

added node setup before danger
  .github/workflows/pull_request.yml
  yarn.lock
Labels: none

installed dangerjs
  .nvmrc
  package.json
  packages/vown-functions/functions/.nvmrc
  yarn.lock
Labels: vown-functions 🔥

set node env to 10 for compatiable packages
  .github/workflows/commit.yml
Labels: none

removed firebase install step
  .github/workflows/commit.yml
Labels: none

updated danger node
  .github/workflows/pull_request.yml
Labels: none

added install before danger
  .github/workflows/pull_request.yml
Labels: none

using danger js directly
  .github/workflows/pull_request.yml
  package.json
Labels: none

fixed danger issues
  dangerfile.js
  packages/vown-web-app/src/components/reviews/reviews-list.tsx
Labels: vown-web-app 🌎

and library skip for ts
  tsconfig.json
Labels: none

switched funcs back to use npm
  packages/vown-functions/functions/package.json
Labels: vown-functions 🔥
