Repository cnolimit/vown, changes with the labels that .github/labeler.yml gives for each.
All labels: vown-auth 🔑, vown-firebase 🔥, vown-reviews 📝, vown-types 🖋, vown-web-app 🌎, vown-components 🎨, vown-scripts 📜

[17] - Create Login/Registration (#18)
  .eslintrc
  package.json
  packages/vown-auth/package.json
  packages/vown-auth/src/auth.ts
  packages/vown-auth/tsconfig.json
  packages/vown-components/package.json
  packages/vown-components/src/button/index.tsx
  packages/vown-components/src/index.ts
  packages/vown-components/src/input/index.tsx
  packages/vown-components/src/login-form/index.tsx
  packages/vown-components/src/registration-form/index.tsx
  packages/vown-reviews/babel.config.js
  packages/vown-reviews/package.json
  packages/vown-reviews/tsconfig.json
  packages/vown-web-app/index.d.ts
  packages/vown-web-app/package.json
  packages/vown-web-app/public/index.html
  packages/vown-web-app/src/assets/oval_shape.svg
  packages/vown-web-app/src/components/login/login-form.tsx
  packages/vown-web-app/src/components/login/login.container.tsx
  packages/vown-web-app/src/components/registration/registration.container.tsx
  packages/vown-web-app/src/index.tsx
  packages/vown-web-app/src/store/index.ts
  packages/vown-web-app/tsconfig.json
  packages/vown-web-app/webpack/constants.js
  packages/vown-web-app/webpack/webpack.common.js
  packages/vown-web-app/webpack/webpack.dev.js
  scripts/test.sh
  versions.json
  yarn.lock
Labels: vown-auth 🔑, vown-reviews 📝, vown-web-app 🌎, vown-components 🎨

removed vown prefix
  docs/workflow.md
Labels: none

[12] - Added workflow file (#13)
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  docs/workflow.md
Labels: none

Added link to the workflow documentation
  README.md
Labels: none

updated aliases and fixed framer motion animations
  packages/vown-web-app/.firebaserc
  packages/vown-web-app/components/layout.tsx
  packages/vown-web-app/components/layouts/base-layout.tsx
  packages/vown-web-app/components/layouts/dashboard-layout.tsx
  packages/vown-web-app/components/layouts/index.ts
  packages/vown-web-app/components/menu-list.tsx
  packages/vown-web-app/components/nav-bar.tsx
  packages/vown-web-app/components/reviews/reviews-form.tsx
  packages/vown-web-app/components/reviews/reviews-list.tsx
  packages/vown-web-app/firebase.json
  packages/vown-web-app/next.config.js
  packages/vown-web-app/pages/_app.tsx
  packages/vown-web-app/pages/dashboard/account.tsx
  packages/vown-web-app/pages/dashboard/index.tsx
  packages/vown-web-app/pages/dashboard/reviews.tsx
  packages/vown-web-app/pages/index.tsx
  packages/vown-web-app/pages/login.tsx
  packages/vown-web-app/pages/register.tsx
  packages/vown-web-app/store/authentication.ts
  packages/vown-web-app/store/notification.ts
  packages/vown-web-app/tsconfig.json
  packages/vown-web-app/utils/variants.ts
Labels: vown-web-app 🌎

fixed copy on registration form component
  Makefile
  packages/vown-components/src/registration-form/index.tsx
  yarn.lock
Labels: vown-components 🎨

fixed default export for scripts
  packages/vown-scripts/src/scripts/version-bump.ts
Labels: vown-scripts 📜

added new start commands
  packages/vown-web-app/package.json
Labels: vown-web-app 🌎

move next to root package.json
  package.json
  packages/vown-web-app/package.json
Labels: vown-web-app 🌎

updated yarn lock
  packages/vown-web-app/package.json
  yarn.lock
Labels: vown-web-app 🌎

added now config
  packages/vown-web-app/next.config.js
  packages/vown-web-app/now.json
  packages/vown-web-app/package.json
  yarn.lock
Labels: vown-web-app 🌎

removed the serverless webpack config
  packages/vown-web-app/next.config.js
Labels: vown-web-app 🌎

moved now.json file
  packages/vown-web-app/.gitignore
  packages/vown-web-app/now.json
  packages/vown-web-app/package.json
Labels: vown-web-app 🌎

added now.json file
  now.json
  yarn.lock
Labels: none

fixed the styles issue with material
  packages/vown-components/package.json
  packages/vown-web-app/components/layouts/base-layout.tsx
  packages/vown-web-app/package.json
  packages/vown-web-app/pages/_app.tsx
  yarn.lock
Labels: vown-web-app 🌎, vown-components 🎨

updated the now config
  now.json
  package.json
  packages/vown-web-app/next.config.js
  packages/vown-web-app/package.json
  yarn.lock
Labels: vown-web-app 🌎

moved now file back
  packages/vown-web-app/now.json
Labels: vown-web-app 🌎

changed the target to experimental-serverless-trace
  packages/vown-web-app/next.config.js
Labels: vown-web-app 🌎

moved the packages to the root
  packages/vown-web-app/package.json
Labels: vown-web-app 🌎

moved packages to the root
  package.json
  packages/vown-components/src/review-form/index.tsx
  yarn.lock
Labels: vown-components 🎨

added animation duration and zindex constants
  packages/vown-web-app/utils/constants.ts
Labels: vown-web-app 🌎

added remember me logic
  packages/vown-components/src/input/index.tsx
  packages/vown-components/src/login-form/index.tsx
  packages/vown-web-app/components/layouts/base-layout.tsx
  packages/vown-web-app/components/nav-bar.tsx
  packages/vown-web-app/pages/login.tsx
  packages/vown-web-app/store/authentication.ts
Labels: vown-web-app 🌎, vown-components 🎨

added notification for registration and candu sdk
  packages/vown-web-app/components/layouts/dashboard-layout.tsx
  packages/vown-web-app/package.json
  packages/vown-web-app/pages/dashboard/index.tsx
  packages/vown-web-app/pages/register.tsx
Labels: vown-web-app 🌎

added lock file
  yarn.lock
Labels: none

added missing enum
  packages/vown-types/index.ts
Labels: vown-types 🖋

switched to using portal
  package.json
  packages/vown-web-app/components/menu-list.tsx
  packages/vown-web-app/pages/dashboard/index.tsx
  packages/vown-web-app/pages/login.tsx
Labels: vown-web-app 🌎

re-routed index to login page
  packages/vown-components/icons/VeriownLogo.tsx
  packages/vown-components/src/login-form/index.tsx
Labels: vown-components 🎨

removed the veriown logo
  packages/vown-web-app/icons/VeriownLogo.tsx
  packages/vown-web-app/pages/index.tsx
  packages/vown-web-app/pages/login.tsx
  packages/vown-web-app/store/authentication.ts
Labels: vown-web-app 🌎

yarn.lock file changes
  packages/vown-components/icons/VeriownLogo.tsx
  packages/vown-components/src/login-form/index.tsx
  yarn.lock
Labels: vown-components 🎨

sorted spreaded props
  packages/vown-firebase/functions/v1/index.ts
Labels: vown-firebase 🔥

added sentry error tracking
  packages/vown-web-app/next.config.js
  packages/vown-web-app/package.json
  packages/vown-web-app/pages/_app.tsx
  packages/vown-web-app/pages/_document.tsx
  packages/vown-web-app/pages/register.tsx
  yarn.lock
Labels: vown-web-app 🌎

fixed registration issue
  packages/vown-auth/src/auth.ts
  packages/vown-components/src/registration-form/index.tsx
  packages/vown-types/index.ts
  packages/vown-web-app/next.config.js
  packages/vown-web-app/pages/_app.tsx
  packages/vown-web-app/pages/register.tsx
  packages/vown-web-app/store/authentication.ts
Labels: vown-auth 🔑, vown-types 🖋, vown-web-app 🌎, vown-components 🎨

fixed test case
  packages/vown-components/src/__tests__/registration-form.test.tsx
Labels: vown-components 🎨

added a sentry env var
  packages/vown-web-app/pages/_app.tsx
Labels: vown-web-app 🌎

fixed userid issue
  packages/vown-web-app/components/layouts/dashboard-layout.tsx
Labels: vown-web-app 🌎

added a log
  packages/vown-web-app/components/menu-list.tsx
Labels: vown-web-app 🌎

working on dangerjs changes
  dangerfile.js
  internals/danger/index.js
  internals/danger/rules/index.js
  internals/danger/rules/noConsoleLogs.js
  packages/vown-web-app/utils/constants.ts
Labels: vown-web-app 🌎

refactored danger logic
  dangerfile.js
  internals/danger/constants.js
  internals/danger/index.js
  internals/danger/rules/index.js
  internals/danger/rules/noConsoleLogs.js
  internals/danger/rules/tests/fixtures.js
  internals/danger/rules/tests/no-console-logs.test.js
  internals/danger/utils/index.js
  internals/danger/utils/tests/get-included-path.test.js
  internals/danger/utils/tests/remove-ignore-path.test.js
  internals/danger/utils/tests/to-lower-case.test.js
  internals/danger/utils/utils.js
  yarn.lock
Labels: none

removed unused code from dangerfile
  dangerfile.js
  internals/danger/constants.js
Labels: none

updated packages
  packages/vown-web-app/package.json
Labels: vown-web-app 🌎

.github/labeler.yml:

vown-auth 🔑:
  - packages/vown-auth/**/*
vown-firebase 🔥:
  - packages/vown-firebase/**/*
vown-reviews 📝:
  - packages/vown-reviews/**/*
vown-types 🖋:
  - packages/vown-types/**/*
vown-web-app 🌎:
  - packages/vown-web-app/**/*
vown-components 🎨:
  - packages/vown-components/**/*
vown-scripts 📜:
  - packages/vown-scripts/**/*
